@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0;
	padding:0;
	background: #1f3a44;
	background: linear-gradient(60deg, #352424 60%, #ff0000)
}

main{
	display: grid;
	grid-template-areas: "section";
	grid-gap: 1rem;
	padding: 15px;
}

@media(min-width: 992px){
	main{
		grid-template-areas: "section section section section";
		grid-gap: 4rem;
		margin: 4rem 0;
	}
}
